/* हेडर के लिए स्टाइल */
header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
/* हेडर के लिए स्टाइल */
header {
    background-color: #333;
    padding: 20px;
    text-align: center;
    color: white;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}
footer p {
    margin: 0;
}
/* फ़ूटर के लिए स्टाइल */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}
